<%- include header %>
    <header id="gtco-header" class="gtco-cover gtco-cover-xs" role="banner" style="background-image:url(/<%=CONST.SYSTEM.THEME%>/images/bg01.jpg);">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc">
                            <h1 class="animate-box" data-animate-effect="fadeInUp">加入我们</h1>
                            <h2 class="animate-box" data-animate-effect="fadeInUp">Join Us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

<%-smac[0].acontent%>
				
<%- include footer %>