<div id="article-header">
    <div class="butleft"><a class="button default" href="#" id="btnAddChannel"> <%= CHANNEL.LABEL.ADD %></a></div>
    <div class="fg-color-red" style="clear:none;float:left;margin-top: 6px;">
        <span id="err_tips"></span>
    </div>
    <div class="input-control text">
        <input type="text" id="findvalue" placeholder="<%= CHANNEL.LABEL.SEARCH %>">
        <button class="btn-search"></button>
    </div>
</div>
<div id="article-content">
</div>
<script>
    var pc = 10;
    function listload(q, pn) {
        if (q == '') {
            $("#article-content").load('/<%= CONST.SYSTEM.MPATH %>/smclskip?pn=' + pn + '&pc=' + pc);
        } else {
            $("#article-content").load('/<%= CONST.SYSTEM.MPATH %>/smclskip?pn=' + pn + '&pc=' + pc + '&q=' + encodeURIComponent(q));
        }
    }
    $(".btn-search").click(function() {
        listload($('#findvalue').val(), 1);
    });
    $(document).ready(function () {
        listload('', 1);
    });
</script>