.dn {
    display: none
}

.di {
    display: inline
}

.dib {
    display: inline-block
}

.b_dib {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.db {
    display: block
}

.cell {
    display: table-cell
}

.vh {
    visibility: hidden
}

.vv {
    visibility: visible
}

.static {
    position: static
}

.rel {
    position: relative
}

.abs {
    position: absolute
}

.oh {
    overflow: hidden
}

.z {
    *zoom: 1
}

.l {
    float: left
}

.r {
    float: right
}

.fn {
    float: none
}

.cl {
    clear: both
}

.tc {
    text-align: center
}

.tr {
    text-align: right
}

.tl {
    text-align: left
}

.tj {
    text-align: justify;
    text-justify: distribute-all-lines;
    text-align-last: justify;
    font-size: 0
}

.tj:after {
    content: ".";
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
    overflow: hidden
}

.vt {
    vertical-align: top
}

.vm {
    vertical-align: middle
}

.vb {
    vertical-align: bottom
}

.f0 {
    font-size: 0
}

.fa {
    font-family: Arial
}

.fs {
    font-family: SimSun
}

.fyh {
    font-family: "Microsoft YaHei"
}

.indent {
    text-indent: 2em
}

.n {
    font-weight: 400;
    font-style: normal
}

.b {
    font-weight: 700
}

.i {
    font-style: italic
}

.tdn {
    text-decoration: none
}

.tdn:hover {
    text-decoration: none
}

.poi {
    cursor: pointer
}

.group {
    *zoom: 1;
    *zoom: 1
}

.group:after {
    content: "\200B";
    display: block;
    display: block;
    height: 0;
    clear: both;
    clear: both
}

.clearfix {
    *zoom: 1
}

.clearfix:before, .clearfix:after {
    display: table;
    content: ''
}

.clearfix:after {
    clear: both
}

.text_hide {
    line-height: 999em;
    overflow: hidden;
    overflow: hidden
}

.text_overflow {
    overflow: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.drop_hl_extra {
    padding-left: 999em;
    margin-left: -999em
}

.drop_vb_extra {
    padding-bottom: 999em;
    margin-bottom: -999em
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    line-height: 1.6;
    font-family: "Microsoft YaHei", "微软雅黑", Helvetica, "黑体", Arial, Tahoma;
    color: #222;
    font-size: 14px
}

input, textarea, button, a {
    outline: 0
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, fieldset, textarea {
    margin: 0
}

fieldset, legend, textarea, input {
    padding: 0
}

textarea, input {
    color: #666
}

textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
    color: #a3a3a3
}

textarea:-moz-placeholder, input:-moz-placeholder {
    color: #a3a3a3
}

textarea::-moz-placeholder, input::-moz-placeholder {
    color: #a3a3a3
}

textarea:-ms-input-placeholder, input:-ms-input-placeholder {
    color: #a3a3a3
}

textarea {
    resize: none;
    overflow-y: scroll
}

ul, ol {
    padding-left: 0;
    list-style-type: none
}

a img, fieldset {
    border: 0
}

a {
    color: #2e7dc6;
    text-decoration: none;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block
}

audio, canvas, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    *font-family: "Microsoft YaHei", "微软雅黑", Helvetica, "黑体", Arial, Tahoma
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button
}

button[disabled], html input[disabled] {
    cursor: default
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="search"] {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

body {
    min-width: 960px;
    background-color: #f7f7f7;
    background: transparent url('../images/bg1ccaec.jpg') repeat;
    font-size: 14px
}

a {
    text-decoration: none;
    color: #3f65b5
}

a:hover {
    text-decoration: underline
}

.icon24-login {
    display: inline-block;
    display: inline-block;
    vertical-align: middle;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    background: transparent url(../images/new/icon24_login1ccaec.png) no-repeat center center
}

.icon24-login.un {
    background-position: 0 0
}

.icon24-login.err {
    background-position: -24px 0
}

.icon24-login.pwd {
    background-position: -48px 0
}

.icon24-login.checkbox {
    background-position: -72px 0
}

.icon24-login.checkbox_checked {
    background-position: -96px 0
}

.icon24-login.add {
    background-position: -120px 0
}

.icon20_tip {
    display: inline-block;
    display: inline-block;
    vertical-align: middle;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: transparent url(../images/icon20_tip1ccaec.png) no-repeat 50% 50%
}

.icon20_tip.speaker {
    background-position: 0 50%
}

.wrapper {
    width: 960px;
    margin: 0 auto
}

.input-shadow {
    box-shadow: inset 0 1px 3px rgba(170, 170, 170, 0.8);
    -moz-box-shadow: inset 0 1px 3px rgba(170, 170, 170, 0.8);
    -webkit-box-shadow: inset 0 1px 3px rgba(170, 170, 170, 0.8)
}

#header {
    border-top: 5px solid #67ad03;
    position: relative;
    position: relative;
    background-color: #f3f3f3;
    z-index: 1;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5)
}

#header .wrapper {
    position: relative;
    position: relative;
    line-height: 60px
}

#header .wrapper img {
    vertical-align: middle;
    vertical-align: middle
}

#header .hd_login_info {
    position: absolute;
    position: absolute;
    right: 0;
    top: 10px
}

#banner {
    background: #090b1a url("../images/bg/bg_login_banner_v51ccaec.jpg") no-repeat center center
}

#banner .wrapper {
    height: 460px;
    position: relative;
    position: relative
}

.input-focus {
    border-color: #4a9bdf
}

.login-panel {
    position: absolute;
    top: 25px;
    right: 0;
    padding: 25px 35px 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    background-color: #e4e4e4;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(228, 228, 228, 0.9)), to(rgba(248, 248, 248, 0.9)));
    background: -moz-linear-gradient(top, rgba(228, 228, 228, 0.9) 0, rgba(248, 248, 248, 0.9) 100%)
}

.login-panel h3 {
    font-size: 21px;
    margin-bottom: 5px;
    font-weight: normal;
    text-shadow: 1px 1px 1px #eee
}

.login-panel .arrow {
    position: absolute;
    position: absolute;
    top: -20px;
    right: 78px;
    font-size: 0;
    border-width: 10px;
    border-color: transparent;
    border-style: dashed;
    border-bottom-color: #cfcfd2;
    border-bottom-color: #e4e4e4\9;
    border-bottom-style: solid
}

.login-mod {
    width: 316px
}

.login-mod input {
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    font-size: 14px
}

.login-mod .icon-wrapper {
    display: inline-block;
    display: inline-block;
    vertical-align: middle;
    vertical-align: middle;
    line-height: 0
}

.login-mod .login-remember-pwd:hover, .login-mod .login-btn:hover {
    text-decoration: none
}

.login-err-panel {
    margin-left: -4px;
    color: #d70000;
    font-size: 13px
}

.login-form {
    width: 316px;
    margin-top: 5px;
    box-shadow: inset 0 1px 3px rgba(170, 170, 170, 0.8);
    -moz-box-shadow: inset 0 1px 3px rgba(170, 170, 170, 0.8);
    -webkit-box-shadow: inset 0 1px 3px rgba(170, 170, 170, 0.8);
    background-color: #fff;
    border-bottom: 1px solid #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}

.login-form div {
    border: 1px solid #aeaeae;
    padding: 3px 0
}

.login-form .login-un {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.login-form .login-pwd {
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}

.login-form span {
    margin: 0 15px
}

.login-form input {
    width: 240px;
    padding: 11px 0;
    vertical-align: middle;
    vertical-align: middle;
    font-family: "Microsoft YaHei";
    font-family: "Microsoft YaHei";
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

.login-form.login_on_un .login-un {
    border-color: #4a9bdf;
    box-shadow: 0 0 5px #aedcfa;
    -moz-box-shadow: 0 0 5px #aedcfa;
    -webkit-box-shadow: 0 0 5px #aedcfa
}

.login-form.login_on_pwd .login-un {
    border-bottom: 0
}

.login-form.login_on_pwd .login-pwd {
    border: 1px solid;
    border-color: #4a9bdf;
    box-shadow: 0 0 5px #aedcfa;
    -moz-box-shadow: 0 0 5px #aedcfa;
    -webkit-box-shadow: 0 0 5px #aedcfa
}

.login-code-panel {
    margin-top: 10px
}

.login-code-panel input {
    width: 100px;
    padding: 10px;
    vertical-align: middle;
    vertical-align: middle;
    box-shadow: inset 0 1px 3px rgba(170, 170, 170, 0.8);
    -moz-box-shadow: inset 0 1px 3px rgba(170, 170, 170, 0.8);
    -webkit-box-shadow: inset 0 1px 3px rgba(170, 170, 170, 0.8);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #aeaeae;
    font-size: 16px
}

.login-code-panel input:focus {
    border-color: #4a9bdf
}

.login-code-panel span {
    width: 100px;
    height: 40px;
    margin-left: 10px;
    margin-right: 6px
}

.login-code-panel span img {
    width: 100%;
    height: 100%
}

.login-help-panel {
    overflow: hidden;
    overflow: hidden;
    margin-top: 10px;
    margin-left: -4px;
    color: #445c8f
}

.login-help-panel .icon24-login.add {
    margin-top: -0.2em;
    *margin-top: 0
}

.login-help-panel .login-forget-pwd {
    float: right;
    float: right
}

.login-help-panel .login-remember-pwd {
    color: #333;
    float: left;
    float: left
}

.login-btn-panel {
    margin-top: 20px;
    padding-bottom: 10px
}

.login-btn-panel .login-btn {
    display: inline-block;
    display: inline-block;
    width: 120px;
    margin-right: 15px;
    padding: 3px 0;
    background-color: #5ba10e;
    background: -webkit-gradient(linear, left top, left bottom, from(#6fb420), to(#51930d));
    background: -moz-linear-gradient(top, #6fb420 0, #51930d 100%);
    color: #fff;
    border: 1px solid #638467;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center
}

.login-tail {
    margin-top: 8px;
    padding: 6px 0;
    border-top: 1px solid #c0c0c0;
    box-shadow: inset 0 1px 0 0 #f0f0f0
}

.qrcode-panel {
    position: absolute;
    position: absolute;
    top: 24px;
    right: -178px;
    background-color: #e1e2e6;
    text-align: center;
    text-align: center;
    color: #717375;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}

#contain {
    background: transparent url('../images/bg1ccaec.jpg') repeat
}

.split_top {
    border-bottom: 1px solid #d6d6d6
}

.split_bottom {
    border-top: 1px solid #fff
}

.default_wrapper {
    background-color: #f3f3f3;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: inset 0 1px 0 #eee, 0 1px 3px #dfdfdf;
    -moz-box-shadow: inset 0 1px 0 #eee, 0 1px 3px #dfdfdf;
    -webkit-box-shadow: inset 0 1px 0 #eee, 0 1px 3px #dfdfdf
}

.default_wrapper .arrow {
    position: absolute;
    position: absolute;
    left: 36px;
    top: -20px
}

.default_wrapper .arrow i {
    position: absolute;
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-color: transparent;
    border-style: dashed
}

.default_wrapper .arrow i.arrow_out {
    border-bottom-color: #d3d3d3;
    border-bottom-style: solid
}

.default_wrapper .arrow i.arrow_in {
    top: 1px;
    border-bottom-color: #f3f3f3;
    border-bottom-style: solid
}

.icon_mp_fnc {
    display: inline-block;
    display: inline-block;
    width: 141px;
    height: 144px;
    vertical-align: middle;
    vertical-align: middle;
    background: transparent url(../images/new/icon_mp_fnc1ccaec.png) no-repeat 0 0
}

.icon_mp_fnc.maxcode {
    background-position: 0 0
}

.icon_mp_fnc.msg {
    background-position: 0 -144px
}

.icon_mp_fnc.brand {
    background-position: 0 -288px
}

.icon_mp_fnc.trans {
    background-position: 0 -433px
}

.icon_mp_case {
    display: inline-block;
    display: inline-block;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    vertical-align: middle;
    background: transparent url(../images/new/icon_mp_case1ccaec.png) no-repeat 0 0
}

.icon_mp_case.yxbj {
    background-position: 0 -80px
}

.icon_mp_case.zsyh {
    background-position: -80px -80px
}

.icon_mp_case.nfhk {
    background-position: -160px -80px
}

.icon_mp_case.xijqr {
    background-position: -240px -80px
}

.icon_mp_case.qxxz {
    background-position: -320px -80px
}

.icon_mp_case.gdlt {
    background-position: -400px -80px
}

.icon_mp_case.sgyyzs {
    background-position: -480px -80px
}

.icon_mp_case.wxlk {
    background-position: -560px -80px
}

.icon_mp_case.ysxw {
    background-position: -1040px -80px
}

.icon_mp_case.police {
    background-position: -960px -80px
}

.icon_mp_case.on.ysxw, .icon_mp_case:hover.ysxw {
    background-position: -1038px -2px
}

.icon_mp_case.on.police, .icon_mp_case:hover.police {
    background-position: -960px -2px
}

.icon_mp_case.on.yxbj, .icon_mp_case:hover.yxbj {
    background-position: 0 0
}

.icon_mp_case.on.zsyh, .icon_mp_case:hover.zsyh {
    background-position: -80px 0
}

.icon_mp_case.on.nfhk, .icon_mp_case:hover.nfhk {
    background-position: -160px 0
}

.icon_mp_case.on.xijqr, .icon_mp_case:hover.xijqr {
    background-position: -240px 0
}

.icon_mp_case.on.qxxz, .icon_mp_case:hover.qxxz {
    background-position: -320px 0
}

.icon_mp_case.on.gdlt, .icon_mp_case:hover.gdlt {
    background-position: -400px 0
}

.icon_mp_case.on.sgyyzs, .icon_mp_case:hover.sgyyzs {
    background-position: -480px 0
}

.icon_mp_case.on.wxlk, .icon_mp_case:hover.wxlk {
    background-position: -560px 0
}

.mp_fnc_mod {
    padding: 40px;
    border-bottom: 1px solid #d6d6d6;
    text-align: justify;
    text-justify: distribute-all-lines;
    text-align-last: justify;
    font-size: 0;
    text-align: justify;
    text-justify: distribute-all-lines;
    text-align-last: justify;
    font-size: 0
}

.mp_fnc_mod:after {
    display: inline-block;
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow: hidden;
    content: "."
}

.mp_fnc {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 220px;
    text-align: center;
    text-align: center
}

.mp_fnc_hd .icon_wrapper {
    display: block;
    display: block
}

.mp_fnc_t {
    padding-top: 14px;
    font-size: 16px;
    font-weight: 700;
    color: #222
}

.mp_fnc_c {
    color: #7b7b7b
}

.mp_case_mod {
    padding-top: 40px;
    border-top: 1px solid #fff
}

.mp_case_list {
    position: relative;
    position: relative;
    padding: 0 78px 0
}

.mp_case_mod_t {
    font-size: 20px;
    font-weight: normal
}

.mp_case_mod_bd {
    margin-top: 10px
}

.mp_case_item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 96px;
    margin-right: 77px;
    text-align: center;
    text-align: center;
    cursor: pointer;
    cursor: pointer
}

.mp_case_item .icon_wrapper {
    display: inline-block;
    display: inline-block
}

.mp_case_t {
    padding-top: 4px;
    font-size: 14px;
    color: #555;
    font-weight: 400
}

.mp_case_desc {
    margin-top: 15px;
    padding: 16px 15px;
    position: relative;
    position: relative
}

.mp_case_desc_text {
    margin-right: 10px;
    line-height: 2
}

.mp_case_desc_img {
    width: 320px;
    height: 480px;
    margin-right: 10px;
    float: left;
    float: left
}

.mp_case_desc_img.extra {
    margin-right: 20px
}

#footer {
    font-size: 12px;
    margin-top: 50px;
    padding: 30px 0;
    background-color: #727171;
    text-align: center;
    text-align: center;
    color: #dadada
}

#footer a {
    padding-right: 10px;
    margin-left: 10px;
    color: #dadada
}

#login_single #header {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3)
}

#login_single #contain {
    margin-top: 30px
}

#login_single #contain .wrapper {
    height: 650px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #f3f3f3;
    box-shadow: 0 3px 10px #ddd;
    -moz-box-shadow: 0 3px 10px #ddd;
    -webkit-box-shadow: 0 3px 10px #ddd;
    overflow: hidden;
    overflow: hidden
}

#login_single .login-mod {
    margin: 40px auto 0;
    border-bottom: 1px solid #ccc
}

#login_single .login-regist-panel {
    width: 316px;
    margin: 0 auto;
    padding-top: 10px;
    border-top: 1px solid #fff
}

#login_single .icon24-login {
    margin-top: -0.2em;
    *margin-top: 0
}

.simple_box {
    overflow: hidden;
    overflow: hidden;
    *zoom: 1;
    *zoom: 1;
    padding-left: 20px;
    color: #222;
    border: 1px solid #d0d1d3;
    background-color: #f3f3f3;
    line-height: 40px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

.simple_box.mp_index {
    margin-top: 30px;
    margin-bottom: 15px;
    padding-right: 90px;
    position: relative;
    position: relative
}

.simple_box.mp_index dt {
    float: left;
    float: left
}

.simple_box.mp_index dt i {
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    font-style: normal;
    font-size: 0;
    margin-top: -2px;
    *margin-top: 3px
}

.simple_box.mp_index dd {
    float: left;
    float: left;
    margin-left: 30px
}

.simple_box.mp_index dd.extra {
    position: absolute;
    position: absolute;
    right: 16px;
    top: 0
}

.simple_box.mp_index dd.extra i {
    margin-left: 2px
}

.simple_box.mp_index dd i {
    display: inline-block;
    vertical-align: middle;
    vertical-align: middle;
    color: #bebebe;
    margin-top: -0.2em;
    *margin-top: 0;
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    font-style: normal
}

.simple_box.mp_index dd a {
    text-decoration: none;
    text-decoration: none;
    color: #222
}

.simple_box.mp_index dd a:hover {
    text-decoration: underline;
    color: #3f65b5
}

.icon128_mpkind {
    display: inline-block;
    display: inline-block;
    vertical-align: middle;
    vertical-align: middle;
    width: 128px;
    height: 128px;
    background: transparent url(../images/icon128_mpkind1ccaec.png) no-repeat center center
}

.icon128_mpkind.subscription {
    background-position: 0 -128px
}

.icon128_mpkind.service {
    background-position: 0 0
}

.mp_kind_mod {
    padding-bottom: 40px;
    border-bottom: 1px solid #d6d6d6
}

.mp_kind_mod_hd {
    padding-bottom: 35px;
    padding-top: 24px
}

.mp_kind_mod_hd h3 {
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    font-style: normal;
    font-size: 20px
}

.mp_kind_wrp {
    float: left;
    float: left;
    width: 50%
}

.mp_kind {
    position: relative;
    position: relative;
    margin: 0;
    height: 140px;
    border-left: 1px solid #dbdbdb;
    color: #7b7b7b
}

.mp_kind.no_extra {
    border-left-width: 0
}

.mp_kind dt {
    padding-top: 10px;
    margin-left: 218px;
    margin-bottom: 3px;
    color: #222;
    font-size: 16px
}

.mp_kind dd {
    margin-left: 218px;
    margin-bottom: 3px;
    margin-right: 50px
}

.mp_kind dd.icon128_mpkind {
    margin-left: 0;
    position: absolute;
    position: absolute;
    top: 0;
    left: 70px
}

.label_new {
    position: relative;
    position: relative;
    top: -2px;
    left: 3px
}